<!doctype html>
<html>
  <head>
    <title>Sensor Data from Eventyr II</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      body {
      text-align: center;
      }
      #g1,
      #g2,
      #g3,
      #g4,
      #g5,
      #g6,
      #g7,
      #g8{
      width: 200px;
      height: 160px;
      display: inline-block;
      margin: 1em;
      }
    </style>
  </head>
  <body>
    <h1>Sensor Data from Eventyr II</h1>
    <div id="g1"></div>
    <div id="g2"></div>
    <div id="g3"></div>
    <div id="g4"></div>
    <div id="g5"></div>
    <div id="g6"></div>
    <div id="g7"></div>
    <div id="g8"></div>
    <hr>
    <h3> Last Sensors Reading: {{ date }} {{ time }} ==> <a href="/"class="button">REFRESH</a></h3>
    <hr>
    <h3>HISTORICAL DATA </h3>
    <p> What number of last hours of data (e.g. last 24 hrs)  would you like to see? (Sample Frequency: {{ freq }} minutes)
      <form method="POST">
	<input name="rangeTime" value= {{rangeTime}}>
	<input type="submit">
    </form></p>
    <hr>
    <img src="/plot/temp" alt="Image Placeholder" width="49%">
    <img src="/plot/hum" alt="Image Placeholder" width="49%">
    <p> @2019 Developed by DAS (with help from MJRoBot.org)</p>

    <script src="../static/raphael-2.1.4.min.js"></script>
    <script src="../static/justgage.js"></script>
    <script>
      var g1, g2, g3, g4, g5, g6, g7, g8;
      document.addEventListener("DOMContentLoaded", function(event) {
      g1 = new JustGage({
      id: "g1",
      value: {{heater}},
      valueFontColor: "black",
      min: 0,
      max: 1,
      title: "Heater",
      label: "ON/OFF"
      });
      g2 = new JustGage({
      id: "g2",
      value: {{dehumid}},
      valueFontColor: "black",
      min: 0,
      max: 1,
      title: "Dehumidifier",
      label: "ON/OFF"
      });
      g3 = new JustGage({
      id: "g3",
      value: {{temp_outside}},
      valueFontColor: "black",
      min: -10,
      max: 30,
      title: "Temperature Outside",
      label: "Celcius"
      });
      g4 = new JustGage({
      id: "g4",
      value: {{temp_inside}},
      valueFontColor: "black",
      min: -10,
      max: 30,
      title: "Temperature Inside",
      label: "Celcius"
      });
      g5 = new JustGage({
      id: "g5",
      value: {{hum_inside}},
      valueFontColor: "black",
      min: 0,
      max: 100,
      title: "Humidity inside",
      label: "%"
      });
      g6 = new JustGage({
      id: "g6",
      value: {{hum_outside}},
      valueFontColor: "black",
      min: 0,
      max: 100,
      title: "Humidity outside",
      label: "%"
      });
      g7 = new JustGage({
      id: "g7",
      value: {{air_inside}},
      valueFontColor: "black",
      min: -10,
      max: 30,
      title: "Air quality inside",
      label: "<200 = good"
      });
      g8 = new JustGage({
      id: "g8",
      value: {{light_outside}},
      valueFontColor: "black",
      min: -10,
      max: 30,
      title: "Light value outside",
      label: "Custom value"
      });
      });
    </script>
  </body>
  </html>
