<!DOCTYPE html>
<head>
  <title>DHT Sensor data </title>
  <link rel="stylesheet" href='../static/style2.css'/>
</head>
<body>
  <h1>DHT Sensor Data From Eventyr II</h1>
  <h3> TEMPERATURE INSIDE   ==>  {{ temp_inside  }} *C</h3>
  <h3> TEMPERATURE OUTSIDE   ==>  {{ temp_outside  }} *C</h3>
  <h3> HUMIDITY INSIDE (Rel.) ==>  {{ hum_inside  }} %</h3>
  <hr>
  <h3> Last Sensors Reading: {{ date }}, {{ time }} ==> <a href="/"class="button">REFRESH</a></h3>
  <hr>
  <p> @2019 Developed by DAS</p>
</body>
</html>
